.user__wrapper {
  display: flex;
  padding: 0.5rem;
  margin: 0.25rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  background-color: #F3F4F6;
  cursor: pointer;
}
